html, body, * {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    border-radius: 5px;
    --highlight-col: #ffc000;
    --plain-text-col: #ffe0b1;
    --border-grey: #7a7265;
    --contrast-col: #00ffbf;
    /* outline: 2px solid red; */
}

a {
    text-decoration: none;
    background-color: inherit;
}

main {
    display: grid;
    margin: 1vw auto;
    width: 67vw;
    height: 95vh;
    grid-template-columns: 1fr;
    background-color: #000;
    border: 1px ridge var(--border-grey);
    border-radius: 6px;
    margin-top: 5vh;
}

main > * {
    font-family: 'Courier New', Courier, monospace;
    color: #fdc;
    height: 1.6vh;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1vw;
    font-family: monospace;
}

nav#nav-top {
    color: var(--plain-text-col);
    grid-column: 1 / -1;
    margin: 2vh 1vw 0 1vw;
}

nav#nav-top span{
    display: inline-block;
    margin: 0 1vw 0 1vw;
    background: radial-gradient(#3ad1ff, #ff7297);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-out;
}

nav#nav-top span:hover {
    transform: scale(1.1);
}

nav#nav-top span a.active{
    text-decoration-line: underline;
    text-decoration-color: var(--contrast-col);
}

input#datob, input#datob * {
    width: 20vw;
    height: 3vh;
    font-size: 1.2vw;
    color: var(--plain-text-col);
}

input, output {
    text-align: center;
}

output.mstone {
    color: #00ff3e;
}

th.mstone {
    color: #ff2f88;
}

th, td {
    font-size: 1.0vw;
    border: 2px solid #ff8e00;
    border-collapse: separate;
    padding: 0.4vw;
    border-radius: 8px;
}

table {
    margin: 0.4vw;
    padding-bottom: 2.7vh;
    color: #ff2600;
}

td {
    text-align: left;
}

th {
    text-align: right;
    font-weight: normal;
    color: #00f4ff;
}

tr:first-child > * {
    border: 2px solid #00ff3e;
}

td#now {
    color: #00ff3e;
}

.flatpickr-calendar {
    width: 26vw;
    min-height: 26vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 2px solid #f75;
}