/*
// Tinto, a tool for creating colour palettes
// Author: John Lynch
// Date: June 2019
// File: tinto/css/main.css  
*/
/* Normalize from CDN: https://unpkg.com/normalize.css@8.0.1/normalize.css */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  display: inline;
  color: var(--tblue);
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* END OF NORMALIZE.CSS */
/* ========================================================================== */

/* Start of own CSS */

* {
    box-sizing: border-box;
    --bg-dark-col: #010012;
    --bright-col: #ffc390;
    --tblue: #0094ff;
    --hover-col: #ff4b00;
    --body-bg-col: #040408;
    --bright-text-col: #ff9a00;
    --warning-col: #ff4421;
    --rich-dark-col: #701010;
    --border-grey: #7a7265;
    text-decoration: none;
}

body, html {
    padding: 0.5rem;
    color: var(--bright-col);
    background-color: var(--body-bg-col); 
    font-family: sans-serif;
}

nav#nav-top {
  color: var(--plain-text-col);
  grid-column: 1 / -1;
  margin: 2vh 1vw 0 1vw;
  font-family: 'Courier New', Courier, monospace;
}

nav#nav-top span{
  display: inline-block;
  margin: 0 1vw 0 1vw;
  background: radial-gradient(#3ad1ff, #ff7297);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-out;
}

nav#nav-top span:hover {
  transform: scale(1.1);
}

nav#nav-top span a.active{
  text-decoration-line: underline;
  text-decoration-color: var(--contrast-col);
}

#page-grid {            
    display: grid;
    grid-gap: 1vw;
    align-items: stretch;
    border: 1px ridge var(--border-grey);
    border-radius: 5px;
    padding: 1rem;
}

/* =================================================================== */
/*
Note: some duplication of rules for ease of development and readability;
*/

@media only screen and (max-width: 1279px) {
    #page-grid {
        grid-template-columns: 90vw;
        grid-template-rows: 1fr 12fr 8fr 4fr;
    }

    header {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    #colour-grid {
        grid-column: 1/-1;
        grid-row: 2/3;
        width:80vw;
        height: 80vw;
        justify-self: center;
    }
    
    #controls {
        grid-column: 1/-1;
        grid-row: 3/4;            
    }

    #settings {
        grid-column: 1/-1;
        grid-row: 4/5;
    }

    #title {
      font-size: 5vw;
    }

    #about {
      font-size: 4vw;
    }
}

@media only screen and (min-width: 1280px) {
    #page-grid {
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 1fr 8fr 4fr;
    }

    header {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    #colour-grid {
        grid-column: 1/2;
        grid-row: 2/4;
        min-width:40vw;
        min-height: 40vw;
    }
    
    #controls {
        grid-column: 2/-1;
        grid-row: 2/3;
    }

    #settings {
        grid-column: 2/-1;
        grid-row: 3/4;
        height: auto;            
    }

    #title {
      font-size: 2vw;
    }

    #about {
      font-size: 1.5vw;
    }
}
/* =================================================================== */

#colour-grid, #controls, #settings {
    border: 3px ridge var(--tblue);;
    border-radius: 6px;
}

header {
    align-self: stretch;
    justify-self: stretch;
}

#about {
    float: right;
    color: var(--bright-text-col);
}

#title {
    font-weight: normal;
    border-bottom: 1px solid var(--tblue);
    padding-top: 1.5vh;
    color: var(--bright-text-col);
    background-color: var(--body-bg-col);
}

#colour-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-content: center;
    justify-self: center;
    justify-items: stretch;
}

#colour-grid > div {
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
    justify-items: stretch;
    border: 1px solid black;
    overflow: hidden;
}

#controls {
    display: grid;
    grid-template-columns: min-content 2fr 12fr 10fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-self: left;
    align-items: center;
    font-size: 1.4vw;
    padding: 1rem;
}
#controls > * {
    border: 1px solid var(--bright-col);
    border-radius: 5px;
    font-size: 1.2vw;
}

#controls * {
    user-select: none;
}

#controls > label {
    justify-self: right;
    border: none;
}

#controls > .remove {
    justify-self: end;
}

.fa-remove {
  font-size:1.4vw;
  color: var(--warning-col);
}

#settings {
  text-align: center;
  overflow-y: scroll;
  /*height: fit-content;*/
  justify-self: stretch;
}

.palette {
  transition: background-color 1s linear;
  user-select: text !important; 
}

.remove {
    background-color: var(--body-bg-col);
    color: var(--warning-col);
    border: 0px !important;
    border-radius: 6px;
}

.remove i {
    opacity: 0;
    transition: opacity 0.8s ease-out;  
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.buttons .btn {
    align-self: center;
    color: var(--bright-text-col);
    background-color: var(--bg-dark-col);
    border: 1px solid var(--tblue);
    border-radius: 6px;
    font-size: 1.2vw;
    margin: 0.2vw;
    transition: all 0.8s ease-out;
    text-shadow: 0 0 1px white;
}

.buttons .btn:hover {
    border-color: var(--warning-col);
}

#status {
    border-top: 1px solid var(--bright-col);
    border-bottom: 1px solid var(--bright-col);
    color: var(--bright-text-col);
    background-color: var(--bg-dark-col);
    user-select: text; 
}

#radio-label-0 {
    color: red;
}

#radio-label-1 {
    color: green;
}

#radio-label-2 {
    color: var(--tblue);
}

.radio-label-hsl {
    color: var(--bright-text-col)
}

/*============================================================*/

/*=========================================
for mobile: */
@media only screen and (max-width: 767px) {

}
/*=========================================
for desktop:                                 */
@media only screen and (min-width: 768px) {

}

/*======================================
=======================================*/

/* 
    Radio button component from a Codepen by Oguzhan Cansever:
    https://codepen.io/oggyindahouse/pen/Bamui
*/
.switch {
  position: relative;
  /*height: 26px;*/
  width: 120px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: opacity .3s ease-in-out;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(top, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-styled .switch-selection {
  background-color: #3aa2d0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fc9ee), color-stop(100%, #3aa2d0));
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -ms-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}

/*
    Range slider code, adapted from A PEN BY Marine Piette
    at https://codepen.io/mayuMPH/pen/ZjxGEY 
*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 10px;
  padding-top: 25px;
  border-radius: 6px;
  padding-bottom: 0px;
  background: linear-gradient(180deg, #DB302A 0%, #62186B 100%) no-repeat;
  margin-top: 0px;
  margin-left: 20px;
  transition: opacity .3s ease-in-out;
}

.box-minmax {
  margin-top: 2px;
  width: 84%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7vw;
  color: #FFFFFF;
}
.box-minmax span:first-child {
  margin-left: 5px;
}

.range-slider {
  margin-top: -8%;
  border-radius: 6px;

}

.rs-range {
  margin-top: 5px;
  width: 100%;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 16px;
  width: 10px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 16px;
  width: 10px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 48px;
  height: 13px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-left: -20px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 100%;
}
.rs-label::after {
  content: "";
  display: block;
  font-size: 4px;
  letter-spacing: 0.07em;
  margin-top: -1px;
}
/* End of slider code */

/* ============================================================= */

/*.hex-colour {
  color: #000000;
  font-size: 1.4rem;
  transition: opacity 0.5s ease-in;
}*/

/*.hex-colour:hover {
  opacity: 1;
}*/

.cell {
  text-align: center;
  cursor: pointer;
}

#modal {
  position: absolute;
  width: 25vw;
  height: 25vw;
  text-align: center;
  font-size: 1.6vw;
  border: 3px ridge var(--bright-col);
  border-radius: 5px;
  background-color: black;
  color: var(--bright-text-col);
  display: none;
  z-index: 1024;
}

#modal-drag-bar {
    border-bottom: 2px solid var(--bright-col);
    background-color: #000022;
    user-select: none;
}

#modal ul {
  list-style: none;
}

#code-item {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#contrast-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
  justify-items: stretch;
}

#contrast-details {
  grid-column: 1/-1;
  padding-top: 1vh;
}

.col-box {
  border: 3px ridge var(--bright-col);
  padding-top: 1vh;
}

/* A place to store the 'code-block' and 'contrast-info' elements */
#div-store {
  display: none;
}

a:visited {
  color: var(--hover-col);
}

@keyframes start-effect {
    0% {
        background-color: var(--tblue);
    }
    100% {
        background-color: var(--body-bg-col);
    }
}

#about-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  background-color: var(--tblue);
  outline: 2px ridge var(--bright-text-col);
  border: 4px solid #000;
  border-radius: 5px;
  z-index: 128;
  padding: 2vw;
  font-size: 1.4vw;
  max-height: 80vh;
  overflow-y: scroll;
}

#hide-about {
  float: right;
  align-self: center;
  color: var(--bright-text-col);
  background-color: var(--bg-dark-col);
  border: 1px solid var(--bright-text-col);
  border-radius: 6px;
  font-size: 1.4vw;
  margin: 0.2vw;
  text-shadow: 0 0 1px white;
}

#about {
  cursor: pointer;
}

#about-box a {
  color: var(--rich-dark-col);
}
