* {
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #000000;
    padding: 0;
    margin: 0;
	overflow-y: hidden;
}

.month {
	display: grid;
	padding: 20px;
	grid-template-columns: 67vw 33vw;
	grid-template-rows: 9vh 89vh;
}

#month-name {
	color: #e22255;
	font-size: 4vw;
	text-shadow: -1px -1px #0099ee, 
                -2px -2px #000000, 
                -3px -3px #0099ee;
	grid-column-start: 1;
	grid-column-end: -2;
	grid-row-start: 1;
	grid-row-end: 2;
}
#dates {
	display: grid;
	grid-template-columns: repeat(7, 9vw);
	grid-template-rows: 10vh repeat(6, 12vh);
	grid-column-start: 1;
	grid-column-end: -2;
	grid-row-start: 2;
	grid-row-end: -1;
	grid-gap: 0.5vw;
}

.day-name {
	text-align: center;
	align-self: end;
	color: #0099ee;
	font-size: 3vw;/*
	border: 1px solid white;*/
}

.day {
	border: none;
	border-radius: 7%;
	text-align: right;
	font-size: 2vw;
	color: #000000;
}

#side-image {
	background-size: cover;
    background-position: center;
    margin-left: 0.5vw;
	margin-right: 3vw;
	margin-bottom: 2vw;
	border: 5px ridge #0099ee;
	border-radius: 80%;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
}

.weekend {
	color: #bb0077;
}