* {
    --bg_col: #029aff;
    --shell_bg_col: #010101;
    --shell_col: #ffddbb;
}

body {
    background-color: var(--bg_col);
}

pre code {
    background-color: var(--shell_bg_col);
    color: var(--shell_col);
    font: 0.8vw Courier, sans-serif;
}