body, * {
    background-color: #000102;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

main {
    display: grid;
    width: 96vw;
    height: 92vh;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

nav {
    padding-left: 2vw;
    border-bottom: 3px ridge #00d9ff;;
}

output {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
}

img {
    width: 60vw;  
    height: 60vh;
}

#canv {
    text-align:center;
    border: 2px ridge #fa0;
    background-color: #000102;
    margin: 1vw;
    border-radius: 6px;
}

#controls {
    height: 20vh;
    border: 2px solid #fa0;
    color: #ffefce;
    background-color: #000313;
    margin: 1vw;
    padding: 1vw;
    border-radius: 6px;
}

#controls > * {
    margin-top: 1vh;
}

h1 {
    color: #fa0;
}

input {
    appearance: none;
}

button {
    width: 4vw;
    height: 3vh;
    border-radius: 5px;
}

button#repeat {
    font-weight: 700;
    background-color: #00ff9d;
}

button#back {
    font-weight: 700;
    background-color: #ffa600;
}
