/* CSS for jiwa (Life) Ⓒ 2021 John Lynch */

* {
        box-sizing: border-box;
        --title-col: #66a8ff;
        --bg-dark-col: #010012;
        --august-col: #ff5c5c;
        --hover-col: #ff4b00;
        --contrast_col: #53ffac;
        --body-bg-col: #000;
        --btn-col-A: #14508d;
        --btn-col-B: #81002b;
        --btn-col-C: #00542c;
        --btn-col-D: #e6580e;
        --btn-col-E: #ba1257;
        --btn-col-F: #00125c;
        --c_paused: #ff6e6e;
        --bright-col: #fdc200;
        --off-col: #7ad4ff;
        border-radius: 0;
        text-decoration: none;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-col);
    font-family: 'Courier New', Verdana, Geneva, Tahoma, sans-serif;
}

#page-grid {            
    display: grid;
    grid-template-columns: 48vw 32vw 18vw;
    grid-template-rows: 8vh 84vh 6vh;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: stretch;
}

#page-grid > *:not(:first-child):not(:last-child) {
    border: 5px ridge var(--august-col);
    border-radius: 6px;
}

a {
    color: var(--bright-col);
    font-size: 1vw;
}

header#title {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: stretch;
    font-size: 2.5vw !important;
    font-family: "Mali", sans-serif;
    font-weight: normal;
    text-shadow: -4px -2px var(--btn-col-F);
    color: var(--title-col);
    font-size: 2vw;
    background-color: #000;
    border-bottom: 2px outset var(--title-col);
    border-radius: 6%;
    height: 100%;
    padding: 1vw;
}

#lgrid {
    display: grid;
    align-content: center;
    align-self: auto;
    justify-self: center;
    justify-items: stretch;
    grid-gap: 1px;
    grid-template-columns: repeat(63, 1fr);
    grid-template-rows: repeat(63, 1fr);
    grid-column: 1/2;
    grid-row: 2;
    width: 80vh;
    height: 80vh;
    border: 8px ridge var(--contrast_col) !important;
}

#cgrid {
    height: 80vh;
}

#info {
    grid-row: 8;
    grid-column: 1/-1;
}

#lgrid > div {
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
    justify-items: stretch;
    border: 0.5px #000;
    border-radius: 3px;
}

#controls {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.4vw;
    height: 80vh;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 1vh;
    align-items: start;
}

.btn, label {
    height: 3vh;
    font-size: 0.6vw;
    background-color: var(--off-col);
    color: #000;
    border: 2px ridge var(--bright-col);
    border-radius: 12px;
}

#gen-count {
    background-color: inherit;
    float: right;
    color: var(--off-col);
    width: 5vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}

[id^=rulebox] {
    height: 25vh;
    padding-top: 2vh;
    font-size: 0.6vw;
    background-color: var(--off-col);
    color: #000;
    border: 2px ridge var(--bright-col);
    border-radius: 12px;
    grid-row: 4;
}

fieldset > legend {
    padding-top: 1vw;
}

input.rule + span {
    font-size: 0.5vw;
}

#side-pane {
    grid-column: 3/-1 ;
    grid-row: 2/3;
    height: 80vh;
    color: var(--bright-col);
    padding: 1vw;
}

p#link-text a {
    font-size: 1vw;
}

#footer {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: stretch;
    font-size: 1.4vw;
    border-top: 2px ridge var(--title-col);
    border-radius: 6%;
}

p#link-text > a {
    color: var(--august-col);
}

#evolve-cts {
    background-color: var(--c_paused);
}

/* social media links in footer */
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 1vh;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa, .icon {
    display: inline;
    padding: 2px 2px;
    background-color: var(--bg-col);
}
.fa-twitter:hover {
    background-color: #00B6F1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-github:hover {
    color: #9840d9;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-linkedin:hover {
    background-color: #04669A;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.icon-st:hover {
    background-color: #f321b7;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
