/* CSS for zero_undefined Ⓒ 2021 John Lynch */

* {
    --soft-text-col: #00aaff;
    --bright-text-col: #ff843c;
    --attn-col: #ff4c3c;
    --pale-text-col: #ffddaa;
    --nums-col: #00ff34;
    --nums-shadow-col: #3aff51;
    --block-col: #7affa1;
    --main-border-col: #00ffd0;
}

html {
    line-height: 1.15;
}

body {
    background-color: #000;
    margin: 0;
    height: 100vh;
    color: var(--soft-text-col);
    font-size: 25vw;
}

body * {
    text-decoration: none;
    font-family: 'Cutive Mono', monospace;
}

a {
    display: inline-block;
    color: var(--soft-text-col);;
}

a.vc-origin {
    display: inline-block;
    color: var(--bright-text-col);
    font-size: 0.7vw;
}

a.vc-origin:hover {
    color: var(--soft-text-col);
}

a:hover {
    color: var(--attn-col);
    transform: scale(1.1);
    transition: 0.6s;
}

h3 {
    font-size: 0.9vw;
    color: var(--bright-text-col);
}

#info {
    width: 50vw;
    background-color: #000;
    color: var(--pale-text-col);
    border: 4px double var(--main-border-col);
    border-radius: 20px;
    padding: 1vw;
    margin: 0 auto;
    opacity: 0;
    z-index: 512;
    transition: opacity 6s ease-in-out;
}

#info *, rubric {
    font-family: 'Free Mono', monospace;
}

#info-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9vw;
}

.app-link {
    text-indent: 2vw;
}

.nums {
    position: fixed;
    top: 0px;
    left: 0;
    color: var(--nums-col);
    font-size: 3vw;
    z-index: 256;
    filter: blur(3px) drop-shadow(24px 16px 20px #fff);
    transform-origin: left center;
    overflow-x: hidden;
}

#teletype {
    position: fixed;
    top: 0px;
    left: 0px;
    line-height: 1vh;
    opacity: 1;
    transition: opacity 4s ease-in-out;
}

#teletype > span:not(:last-child) {
    font-size: 2.8vw;
    font-weight: bold;
    color: var(--nums-col);
    opacity: 1;
    filter: blur(3px) contrast(200%) brightness(250%);
    text-shadow: 0 0 80px var(--nums-shadow-col);
}

#block {
    top: 0;
    font-size: 5vw;
    color: var(--block-col);
    filter: blur(8px) brightness(120%);
    opacity: 0;
    transform: scaleY(0.8);
    transition: opacity 0.1s ease-in;   
}

#credits {
    position: fixed;
    right: 1vw;
    bottom: 1vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5vw;
    color: var(--pale-text-col);
}

 .app-link .tooltiptext {
  visibility: hidden;
  width: 8vw;
  background-color: black;
  color: var(--pale-text-col);
  border: 1px solid var(--soft-text-col);
  font-size: 0.6vw;
  text-align: left;
  border-radius: 6px;
  padding: 0.5vw;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.app-link:hover .tooltiptext {
  visibility: visible;
}
